* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* Body Styling */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:lightblue;
}

/* Container Styling */
.header, .body {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 10px;
}

/* Header Styling */
.header h1 {
    color: #333;
}

/* Question Styling */
#ques {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Options Styling */
.options {
    margin-right: 10px;
}

label {
    font-size: 18px;
    color: #555;
}

/* Button Styling */
#btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
